<%- partial('_partial/nav') %>
<div class="table-wrapper">
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <th>名称</th>
                <th>Key</th>
                <th>下载链接</th>
                <th>图片地址</th>
                <th>动作</th>
            </tr>
        </thead>
        <tbody>
            <% bookdataSet.forEach(function(item, index){%>
            <tr class="book-col">
                <td>
                    <%= item.name %>
                </td>
                <td>
                    <%= item.key %>
                </td>
                <td>
                    <%= item.url %>
                </td>
                <td>
                    <%= item.img %>
                </td>
                <td>
                    <a class="button" title="删除" onclick="removeThebook('<%= JSON.stringify(item) %>', this)">
                        <span class="icon is-small">
                            <i class="fa fa-close"></i>
                        </span>
                    </a>
                    <a class="button" title="修改" onclick="updateThebook('<%= JSON.stringify(item) %>', this)">
                        <span class="icon is-small">
                            <i class="fa fa-arrows-h"></i>
                        </span>
                    </a>
                </td>

            </tr>
            <% }) %>
            <tr>
            </tr>
        </tbody>
    </table>
    <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            <%if(listLeng > 1){%>
                <li>第<%= page %>页</li>                
            <%}%>
            <%if(listLeng > 1){ %>
                <%for(var i = 0; i < listLeng; i++) { %>
                    <li>
                        <a
                            class="pagination-link is-current"
                            href="?page=<%=i+1%>"
                            aria-current="page"><%= i + 1 %></a>
                    </li>
                <%}%>                
            <%}%>
        </ul>
    </nav>
</div>
<script src="/public/js/common.js"></script>
<script src="/public/js/overview.js"></script>
